/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

img {
	max-width: 100%;
}


/**
 * Chart styling
 */
.chart-wrapper {
	overflow: hidden;
	height: 160px;
}

#timer-chart {
}


/**
 * Background line, of chart arc
 */
.c3-chart-arcs-background {
	fill: #ffffff;
}

/* Hide percentage in svg */
.c3-gauge-value {
	display: none!important;
}
