<ion-view bindonce title="{{timer.title}}">
	<ion-content class="has-header">
		<ion-nav-buttons side="right">
			<button class="button button-clear icon ion-ios7-compose-outline" ng-click="editTimerModal(timer.slug)"></button>
		</ion-nav-buttons>

		<div class='card card--timer'>
			<div id="timer-chart">showing you stuff</div>

			<timer ng-if="timer_set" interval="10000" start-time="timer_start_time" end-time="timer_end_time">
				{{mminutes}}:{{sseconds}}
			</timer>
			<div ng-if="!timer_set" class='placeholder-timer'>
				{{timer.length.label}}
			</div>
		</div>

		<div class='card card--timer'>
			<div class='item item-toggle'>
				Repeat Timer
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item tabs">
				<a class="tab-item" ng-click="beginTimer()">
					<i class="icon ion-ios7-play-outline"></i>
				</a>
				<a class="tab-item" ng-click="pauseTimer()">
					<i class="icon ion-ios7-pause-outline"></i>
				</a>
				<a class="tab-item" ng-click="resetTimer()">
					<i class="icon ion-ios7-reload"></i>
				</a>
			</div>

			<div class='item item--timer'>
				<p>Starts:<br />{{timer_started}}</p>
				<p>Should end:<br />{{timer_should_end}}</p>
			</div>

		</div>

	</ion-content>
</ion-view>
