<ion-view bindonce title="{{timer.title}}">
	<ion-content class="has-header">
		<ion-nav-buttons side="right">
			<button class="button button-clear icon ion-ios7-compose-outline" ng-click="editTimerModal(timer.slug)"></button>
		</ion-nav-buttons>

		<div class='card card--timer'>
			<div class='chart-wrapper'>
				<div class='chart' id="timer-chart"></div>
			</div>

			<timer ng-if="timer_set" interval="10000" class='the-timer' start-time="timer_start_time" end-time="timer_end_time">
				{{mminutes}}:{{sseconds}}
			</timer>
			<div ng-if="!timer_set" class='placeholder-timer'>
				{{timer.length.label}}
			</div>
		</div>

		<div class='card card--break'>
			<div class='item'>
				<p><strong>Break:</strong></p>
				<timer ng-if="break_timer_set" class='the-break-timer' interval="10000" start-time="break_timer_start_time" end-time="break_timer_end_time">
					{{mminutes}}:{{sseconds}}
				</timer>
				<div ng-if="!break_timer_set" class='placeholder-break-timer'>
					{{timer.break.label}}
				</div>
				<div id='break-progress'
					style="width: 100%; height: 4px; background: blue;" >
				</div>
			</div>
			<div class='item'>
				<a class='button button-positive button-small' ng-click="beginBreak()">start break</a>
			</div>
		</div>

		<div class='card card--timer'>
			<div class='item item-toggle'>
				Repeat Timer
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item tabs">
				<a class="tab-item" ng-if="timer.state != 'paused'" ng-click="beginTimer()">
					<i class="icon ion-ios7-play-outline"></i>
				</a>
				<a class="tab-item" ng-if="timer.state === 'paused'" ng-click="resumeTimer()">
					<i class="icon ion-ios7-play"></i>
				</a>
				<a class="tab-item" ng-click="pauseTimer()">
					<i class="icon ion-ios7-pause-outline"></i>
				</a>
				<a class="tab-item" ng-click="resetTimer()">
					<i class="icon ion-ios7-reload"></i>
				</a>
			</div>
			<div class="item">
				{{timer.state}}
			</div>

		</div>

	</ion-content>
</ion-view>
